.corner-logo-box-one {
  font-family: Matter,sans-serif;
  letter-spacing: -.05em;
  width: 30;
  height: 30;
  fill: none;
  box-sizing: border-box;
  position: absolute;
  bottom: -30px;
  left: 1.5rem;
}

.corner-logo-box-two {
  width: 30;
  height: 30;
  position: absolute;
  bottom: 68px;
  left: calc(120px + 3.5rem);
}

.corner-content-box-one {
  position: absolute;
  right: -30px;
  bottom: 0;
  transform: rotate(-90deg);
}
.corner-content-box-two {
  position: absolute;
  top: -30px;
  left: 0;
  rotate: -90deg;
}

svg {
  fill: currentColor;
}

.menu-svg {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  rotate: 90deg;
}

.logo-container {
  position: relative;
  overflow: visible;
}

.logo-container::before,
.logo-container::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: currentColor;
  clip-path: path('M30 0H0V30C0 13.431 13.431 0 30 0Z');
}

.logo-container::before {
  top: 100%;
  left: 16px; /* Adjust this value to match the desired position */
}

.logo-container::after {
  top: 16px; /* Adjust this value to match the desired position */
  right: -30px;
}

/* Theme-dependent colors */
.logo-container::before,
.logo-container::after {
  color: #f8f8f8;
}

.dark .logo-container::before,
.dark .logo-container::after {
  color: #000000;
}